{% extends '::base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            background-color: #ffffff !important;
        }
    </style>
{% endblock %}

{% block title %}
    Not found
{% endblock title %}

{% block body %}

    <div style="padding-top: 100px;text-align: center;">
        <h2>Something wrong. We have 500</h2>
    </div>

{% endblock %}
