{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Додати нагадування до завдання:
                <div class="pull-right">
                    <a href="{{ path('cto_jobs_show', {"id": jobId}) }}" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Назад</a>
                </div>
            </h3>
            <br>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ form(form) }}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        jQuery(function ($) {
            var when = $("#job_reminder_whenSend");

            when.datetimepicker({
                locale: 'uk',
                format: 'DD.MM.YYYY HH:mm',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    next: "fa fa-arrow-right",
                    previous: "fa fa-arrow-left",
                    today: "fa fa-calendar-o",
                    clear: "fa fa-trash-o"
                },
                showTodayButton: true,
                showClear: true,
                calendarWeeks: true
            });


        });



    </script>

{% endblock %}

