services:
    cto.CTOClient.doctrine.subscriber.fullName:
        class: CTO\AppBundle\EventListener\DoctrineCTOClientSubscriber
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    cto.twigExtension.monthTranslate:
        class: CTO\AppBundle\TwigExtension\AppExtension
        public: false
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: twig.extension }

    cto.sms.sender:
        class: CTO\AppBundle\Notification\SMSSender
        arguments:
            - @doctrine.orm.entity_manager
            - @mcfedr_resque.manager
            - %queue_name%
            - %alfa_sms_name%
            - %alfa_sms_ID%
            - %alfa_sms_password%
            - %alfa_sms_api_key%