@nav-color: rgba(248, 248, 248, 0.9);

body
{
  padding-top: 60px;
}
.navbar-default
{
  background-color: @nav-color;
  background-image: none;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a
{
  background-color: rgba(231, 231, 231, 0.9);
  background-image: none;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>a:hover,
.navbar-default .navbar-nav>.open>a:hover
{
  background-color: rgba(231, 231, 231, 0.9);
  background-image: none;
}
.app-container
{
  width: 100%;
  height: 100%;
  border: solid 1px #000000;
  border-radius: 10px;
  display: block;
  min-height: 150px;
  position: relative;
  padding: 15px;
  text-align: center;
}
.app-content {
  width: 250px;
  height: 150px;
  display: table-cell;
  vertical-align: middle;
}
.app-dropdown-act {
  position: absolute;
  top: 5px;
  right: 5px;
}
.app-dropdown-act button,
.app-dropdown-act button:hover
{
  border-radius: 30px;
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.filter-form select,
.filter-form input[type='text'] {
  display: inline-block;
  width: auto;
}
.breadcrumb {
  margin-bottom: 0;
}
#breadcrumb_custom {
  margin: 0;
  padding: 0;
}
.apps-custom-view input[type='checkbox'] {
  margin-right: 5px;
}
.apps-custom-view input[type='checkbox'] + label {
  margin-right: 25px;
}
.alert {
  margin-top: 5px;
  margin-bottom: 0;
}
.no-margin {
  margin: 5px 0;
}
.vert-align {
  vertical-align: middle !important;
}
.reset-pswd {
  margin-bottom: 10px;
}
.error-handling {
  ul {
    padding-left: 0;

    li {
      list-style: none;
      color: red;
      font-weight: bolder;
    }
  }
}
.csv-info {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7px;
}
.csv-status-pending {
  background-color: #f0cd3c;
}
.csv-status-loaded {
  background-color: #18e538;
}
.csv-status-fail {
  background-color: #f45812;
}

.brand-car-item {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 7px 15px 7px 7px;
    margin: 5px 0;
}
.brand-car-item:hover {
    font-weight: bolder;
}
.row-not-padding {
    padding: 0;
}

#recommendations_collection li:last-child a:last-child,
#carCategory_collection li:last-child a:last-child,
#client_cars_collection li:last-child a:last-child {
    display: none;
}
#recommendations_collection ul,
#carCategory_collection ul,
#client_cars_collection ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#recommendations_collection ul li:last-of-type,
#carCategory_collection ul li:last-of-type,
#client_cars_collection ul li:last-of-type {
    text-align: left;
}

#recommendations_collection ul li:last-of-type a,
#carCategory_collection ul li:last-of-type a,
#client_cars_collection ul li:last-of-type a {
    text-decoration: none;
}

#recommendations_collection ul li,
#carCategory_collection ul li,
#client_cars_collection ul li {
    margin-bottom: 15px;
    text-align: right;
    color: #333;
}
#recommendations_collection ul li > ul li,
#carCategory_collection ul li > ul li,
#client_cars_collection ul li > ul li {
    color: red;
    font-weight: bolder;
}
#recommendations_collection ul li label,
#carCategory_collection ul li label,
#client_cars_collection ul li label {
    display: block;
    text-align: left;
}
#recommendations_collection ul li div.form-group,
#carCategory_collection ul li div.form-group,
#client_cars_collection ul li div.form-group {
    margin: 0;
    text-align: left;
}
#recommendations_collection ul li a.delete-except-date,
#carCategory_collection ul li a.delete-except-date,
#client_cars_collection ul li a.delete-except-date {
    /*padding: 5px;*/
    margin-top: 7px;
}

div.bootstrap-select div.dropdown-menu ul.dropdown-menu li {
    margin-bottom: 0 !important;
    text-align: left !important;
}
.bootstrap-select {
    margin-bottom: 2px;
}
.font-bolder {
  font-weight: bolder;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.job-btn-add-client_car {
  height: 60px;
  padding-top: 28px;
}
span.jsonform-errortext {
  display: none !important;
}
.error-handling input[type=checkbox] {
  margin-left: 15px;
}
.hide-password-label > label:first-child {
  display: none;
}
.font-small {
  font-size: 60%;
}

#custom_form label.control-label {
  display: block;
}
#custom_form > form > div > div:nth-child(3) {
  margin-top: 20px;
}
#custom_form > form > div > div:nth-last-child(1) {
  text-align: center;
}
#custom_form span.help-block {
  border-top: solid 2px black;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
}
.badge-red {
  background-color: #FD3737;
}

.selectize-control.multi .selectize-input > div {
    padding: 3px !important;
    border: solid 1px #000000 !important;
    background-color: #1B9EEC !important;
    color: #f7f7f9 !important;
    text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3) !important;
    background-image: linear-gradient(to bottom, #1da7ee, #178ee9) !important;
    border-radius: 3px !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03) !important;
    border: 1px solid #0073bb !important;
}
.selectize-dropdown .selectize-dropdown-content div.active {
    background-color: lightgrey;
}
.selectize-dropdown .selectize-dropdown-content span.label {
    color: #555574;
    font-size: 105%;
}
.selectize-dropdown .selectize-dropdown-content span.caption {
    color: #555574;
}
.warning-bg-tr {
  background-color: #c0b53b;
  font-weight: bolder;
  font-size: 115%;
  text-align: center;
}
.recommendation-item:hover {
  background-color: #d3d0c5;
}
.recommendation-item {
  padding: 5px;
  border-radius: 4px;
}
.job-info-link {
  padding: 5px 10px;

}
.job-info-link:hover {
  background-color: lightgray;
  border-radius: 3px;
}
.display_block {
    display: inline-block;
}
.notification-to {
    min-width: 110px;
}
.notification-when {
    min-width: 130px;
}
.notification-action {
    min-width: 155px;
}
#calendar .fc-day-number.fc-sat,
#calendar .fc-day-number.fc-sun {
  color: lightsalmon;
}
#calendar > div.fc-toolbar > div.fc-center > h2 {
  text-transform: capitalize;
}
